<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="/res/css/main.css">
		<link rel="stylesheet" href="/res/css/scrollBar.css">
		<link rel="stylesheet" href="/res/css/cal.css">
		<link rel="stylesheet" type="text/css" href="/res/css/smallScreen.css" media="only screen and (max-width: 1030px)" />
		<link rel="stylesheet" type="text/css" href="/res/css/smallerScreen.css" media="only screen and (max-width: 500px)" />
		<link rel="stylesheet" href="/res/css/create.css">	
		<script src="/res/js/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script async src="/res/js/jquery.mousewheel.min.js" type="text/javascript"></script>
		<script async src="/res/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
		<script async src="/res/js/EventQuery.js" type="text/javascript"></script>	
		<script async src="/res/js/Calendar.js" type="text/javascript"></script>
		<script async src="/res/js/window.js" type="text/javascript"></script>
		<script async src="/res/js/eventCreate.js" type="text/javascript"></script>
		<title>Procrastinator</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="background" style="background-image:url(/res/img/bg/BG@(Model.bgid).jpg)"></div>			
			<div id="logoBox">
				<img src="res/img/logo.png" id="icon">
				<div id="text">Procrastinator</div>
			</div>
			<div id="userBox">
				<img src="/user/profilepic" id="profile">
				<div id="userInfo">
					<div id="name">@(Model.user == null ? "null" : Model.user.UserName)</div>
					<a id="logout" href="/auth/logout">Logout</a>
				</div>
			</div>
			<div id="blurBg" style="background-image:url(/res/img/bg/BG@(Model.bgid)Blur.jpg)"></div>
			<div id="mainPanel">
				<div id="headerPanel">
					<div id="weatherPanel">Weather</div>
					<div id="notifyPanel">Notify</div>
					<div id="datePanel">Date</div>
				</div>
				<div id="calHeader">
					<div class="calDayHead">Sun</div>
					<div class="calDayHead">Mon</div>
					<div class="calDayHead">Tue</div>
					<div class="calDayHead">Wed</div>
					<div class="calDayHead">Thu</div>
					<div class="calDayHead">Fri</div>
					<div class="calDayHead">Sat</div>
				</div>
				<div id="calPanel">
					<div class="calTile" style="display:none">
						<div class="day">1</div>
						<div class="tileInfoPanel">
							
						</div>
					</div>
				</div>
				<div id="sidePanelTitle">
					Today's Events
				</div>
				<div id="sidePanel">
					<div class="event" style="display:none">
						<div class="header">
							<div class="name">Event Name</div>
							<div class="time">00:00</div>
						</div>
						<div class="body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ipsum vestibulum, molestie nisi at, gravida nulla. Sed ac purus mattis, congue elit et, rutrum risus. Praesent tellus nibh, fermentum eget odio ac, accumsan tempor sem. Duis quis orci.
						</div>
					</div>
				</div>
			</div>
			<div id="blackout" style="display:none"></div>
			<div id="windowContainer" style="display:none">
				<div id="window" style="background-image:url(/res/img/bg/BG@(Model.bgid)Blur.jpg)">
					<div id="windowHeader">
						<div id="title"></div>
						<div id="closeButton">x</div>
					</div>
					<div id="windowContent"></div>
				</div>
			</div>
		</div>
	</body>
</html>