@import url(vars.css);

::selection
{
	background-color: rgba(255, 255, 255, .7);
}

*
{
	font-family: var(--font);
}

a
{
	color: var(--linkColor);
	transition: .5s color;
	text-decoration: none;
}

a:hover
{
	color: var(--linkColorHover);
}

a:visited
{
	color: var(--linkColorVisited);
}

#wrapper
{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#wrapper #logoBox
{
	position: absolute;
	left: 5%;
	top:20px;
	display: flex;
	height: 64px;
}

#wrapper #logoBox #icon
{
	height: inherit;
	width: 64px;
}

#wrapper #logoBox #text
{
	height: inherit;
	padding-left: 10px;
	line-height: 64px;
	font-size: 32px;
	color: var(--logoTextColor);
	font-family: var(--font);
	font-weight: var(--logoFontW);
}

#wrapper #userBox
{
	position: absolute;
	right: 5%;
	top:20px;
	display: grid;
	grid-template-columns: 1fr 64px;
	height: 64px;
}

#wrapper #userBox #profile
{
	grid-column: 2;
	height: 64px;
	width: 64px;
	grid-row: 1;
}

#wrapper #userBox #userInfo
{
	grid-column: 1;
	text-align: right;
	padding-right: 10px;
	grid-row: 1;
	font-family: var(--font);
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content: center;
}

#wrapper #userBox #userInfo #name
{
	color: var(--logoTextColor);
	font-weight: var(--logoFontW);
	font-size: 25px;
}

#wrapper #userBox #userInfo #logout
{
	font-size: 15px;
}

#wrapper #background
{
	background: var(--bgImage);
	background-repeat: no-repeat;
	background-position: center;
	left: 0px;
	top: 0px;
	height: inherit;
	width: inherit;
}

#wrapper #blurBg
{
	--offset:calc(20px + 64px + 10px);
	height: calc(95% - var(--offset) - 20px);
	width: calc(90% - 20px);
	left: 5%;
	top: var(--offset);
	position: absolute;
	padding: 10px;
	border-radius: calc(2 * var(--borderRadius));
	
	background-image:var(--bgImageBlur);
	background-repeat:no-repeat;
	background-position: center;
	/*@include background-size(cover);*/
	background-attachment: fixed;
	/*filter: blur(40px);
	@include background-image(linear-gradient(0deg, rgba(88, 188, 227, 1), rgba(88, 188, 227, 1)), url(/res/img/bg/Rose.png));*/
}

#wrapper #mainPanel
{
	--offset:calc(20px + 64px + 10px);
	height: calc(95% - var(--offset) - 20px);
	width: calc(90% - 20px);
	left: 5%;
	top: var(--offset);
	position: absolute;
	padding: 10px;
	border-radius: calc(2 * var(--borderRadius));
	font-family: var(--font);
	font-weight: var(--bodyFontW);
	background-color:var(--bgColor);
	box-shadow: 0px 0px 20px var(--shadowColor);
}

#blackout
{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%; 
	z-index: 1;
	background-color: rgba(0, 0, 0, .7);
}

#windowContainer
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#windowContainer #window
{
	width: 50%;
	box-shadow: 0px 0px 20px var(--shadowColor);	
}

#windowContainer #window #windowHeader
{
	border-top-left-radius: var(--borderRadius);
	border-top-right-radius: var(--borderRadius);
	background-color: var(--titleBgColor);
	height: 30px;
	display: grid;
	grid-template-columns: 1fr 30px;
}

#windowContainer #window #windowHeader #title
{
	font: var(--font);
	font-weight: var(--headerFontW);
	color: var(--titleColor);
	font-size: 25px;
	line-height: 30px;
	padding-left: 10px;
}

#windowContainer #window #windowHeader #closeButton
{
	border-radius:50%;
	font-size: 10px;
	overflow: hidden;
	text-align: center;
	line-height: 20px;
	color: var(--titleColor);
	margin: 5px;
	height: 20px;
	width: 20px;
	background-color: var(--calBodyColor); 
	border:1px solid var(--borderColor);
	transition: .5s background-color;
}

#windowContainer #window #windowHeader #closeButton:hover
{
	background-color: var(--formButtonBgHoverColor);
}

#windowContainer #window #windowContent
{
	background-color: var(--bgColor);
	padding: 20px;
	border-radius: var(--borderRadius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;	
}