#mainPanel #calPanel .calTile .day
{
	font-size: 16px;
}

#wrapper #mainPanel
{
	border-radius: 0;
	left: 0;
	width: 100%;
	grid-template-rows: 40px 30px auto;
	padding: 0;
	padding-bottom: 10px;
}

#wrapper #blurBg
{
	width: 100%;
	left: 0;
	border-radius: 0;
	padding: 0;
	padding-bottom: 10px;
}

#mainPanel #headerPanel
{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#loginWindow
{
	width: 100%;
}

#loginBlurBg
{
	border-radius:0;
}

#loginPanel
{
	border-radius:0;
}


#windowContainer #window
{
	width: 100%;
	min-width: 0px;
	border-radius: 0;
}


#wrapper #logoBox #text
{
	padding-left: 5px;
	font-size: 24px;
}


#wrapper #userBox #userInfo #name
{
	font-size: 15px;
	font-weight: 300;
}

#wrapper #userBox #userInfo #logout
{
	font-size: 10px;
}