#wrapper #mainPanel
{
	grid-template-columns: auto;
}

#mainPanel #headerPanel
{
	grid-column: 1;
}

#mainPanel #calHeader
{
	grid-column: 1;
}

#mainPanel #sidePanel
{
	display: none;
}

#mainPanel #sidePanelTitle
{
	display: none;
}

#windowContainer #window
{
	width: 80%;
	min-width: 0px;
}

#mainPanel #sidePanelTitle
{
	grid-column: 1;
	grid-row: 2;
}

#mainPanel #sidePanel
{
	grid-column: 1;
	grid-row: span 3;
}