*
{
	/*Images*/
	/*BG*/
	--bgImage:url(/res/img/bg/Rose.png);	
	--bgImageBlur:url(/res/img/bg/RoseBlur.png);
	/*Colors*/
	/*BG*/
	--bgColor:rgba(30, 200, 200, .2);
	--titleBgColor:rgba(227, 88, 188, .8); /*#E358BC;*/
	/*Cal*/
	--calBodyColor:rgba(200,200,200, .7);
	--calCurrentTileColor:#ddd;
	--calOtherTileColor:rgba(204, 204, 204, .4);
	--calOtherTileText:rgb(119, 119, 119);
	--calDayColor:#fff;
	/*Text*/
	--titleColor:#fff;
	--logoTextColor:#fff;
	/*ScrollBar*/
	--scrollBarBgColor:rgba(255, 255, 255, .2);
	--scrollBarThumbColor:var(--titleBgColor);
	/*Event Lister*/
	--eventHeaderBgColor:rgba(88, 227, 196, .8);/*#58E3C4;*/
	/*Shadow*/
	--shadowColor:rgba(0, 0, 0, .2);
	/*border*/
	--borderColor:rgba(255, 255, 255, .2);
	/*Sizes*/
	--calTileSize:100px;
	--borderRadius:10px;

	/*fonts*/
	--font: 'Roboto', sans-serif;
	--logoFontW:100;
	--headerFontW:300;
	--bodyFontW:100;
}